{% extends "layout.html" %}

{% block content %}
<main class="form-container">
        <form class="form" id="user-info" action="">
            <div class="field half">
                <label for="zipcode">5-Digit Zipcode (ie. 10027):</label>
                <input type="text" id="zipcode" name="zipcode" class="text-input">
            </div>
            <div class="field half">
                <label for="state">State Abbreviation (ie. CA):</label>
                <input type="text" id="state" name="state" class="text-input">
            </div>

            <div class="field"></div>
                <label>Which level: </label>
                <ul class="checkboxes">
                    {% for l in level %}
                    <li class="checkbox">
                        <input type="checkbox" id="choice-{{l}}" class="checkbox-input" name="choice" value="{{l}}">
                        <label for="choice-{{l}}">{{l}}</label>
                    </li>
                    {% endfor %}
                    
                </ul>

                <br>
                <br>

                <label>Select your concerns and/or inquiries: </label>
                <ul class="checkboxes-2">

                    {% for i in inquiry %}
                    <li class="checkbox">
                        <input type="checkbox" id="choice-{{i}}" class="checkbox-input" name="choice" value="{{i}}">
                        <label for="choice-{{i}}">{{i}}</label>
                    </li>
                    {% endfor %}

                </ul>
                
            </div>

            <div class="field half">
                <input type="submit" class="button" value="Send">
            </div>
        </form>
    </main>
{% endblock %}