{% extends "layout.html" %}

{% block content %}

<script
  src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&libraries=places&callback=initAutocomplete"
></script>
<div hidden id="openai_api_key">{{openai_api_key}}</div>

<div id="spinner-container" class="d-none">
    <div class="spinner-border text-danger m-5" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>

<main id="main-content" class="form-container">
    <br>
    <form class="form" id="user-info" action="/results" method="POST">
        <div class="field half">
            <label for="street-address">Enter in street address:</label>
            <input id="street-address" class="text-input" name="">
        </div>

        <br>

        <div class="field">
            <label>Select level(s): </label>
            <div class="button-box">
                <ul id="levels" class="checkboxes">
                    {% for l in level %}
                    <li class="checkbox">
                        <input type="checkbox" id="choice-{{l}}" class="checkbox-input" name="level" value="{{l}}">
                        <label for="choice-{{l}}">{{l}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <br>
        <br>

        <div class="field">
            <label>Select your concerns and/or inquiries: </label>
            <div class="button-box">
                <ul id="policy-interests" class="checkboxes-2">
                    {% for i in inquiry %}
                    <li class="checkbox">
                        <input type="checkbox" id="choice-{{i}}" class="checkbox-input" name="inquiry" value="{{i}}">
                        <label for="choice-{{i}}">{{i}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="field half">
            <input type="submit" class="button" value="Send">
        </div>
        <br>
        <br>
    </form>
</main>

{% endblock %}
