<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!--    axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

<!-- Header Section -->
<header class="site-header">
    <h1>Welcome to Down Ballot!</h1>
    <p>Your voice matters! Get involved and stay informed.</p>
</header>

<!-- Content (form) Section -->
<div id="content">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer Section -->
<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; 2024 Down Ballot. All Rights Reserved.</p>
    </div>
</footer>

<!-- Link to external JS file -->
<script src="{{ url_for('static', filename='js/main.js') }}"type="module"></script>
</body>
</html>